<div class="container mobile">
    <h1 class="text-center">Live Chat</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <ul id="messages" class="list-group bg-dark text-light">
                    {{#each messages}}
                    <li class="list-group-item bg-dark text-light">
                        <a href="/users/{{this.dataValues.user_id}}" class="text-light text-decoration-none fw-medium">{{this.dataValues.username}}</a>: {{this.dataValues.message}}
                    </li>
                    {{/each}}
                </ul>
                <form id="form" class="input-group mb-3">
                    <input id="input" autocomplete="off" class="form-control form-control-lg"
                        placeholder="Type your message here..." />
                    <button class="btn btn-danger">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>