<main class="container mobile">
    <h2 class="text-center mb-5">Create a New Event</h2>
    <form id="addEventForm">
        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label col-form-label-lg">Title:</label>
            <div class="col-sm-10">
                <input type="text" id="title" name="title" placeholder="Event Title"
                    class="form-control form-control-lg" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label col-form-label-lg">Description:</label>
            <div class="col-sm-10">
                <textarea id="description" name="description" placeholder="Event Description"
                    class="form-control form-control-lg"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <label for="location" class="col-sm-2 col-form-label col-form-label-lg">Location:</label>
            <div class="col-sm-10">
                <input type="text" id="location" name="location" placeholder="City Name"
                    class="form-control form-control-lg">
            </div>
        </div>
        <div class="row mb-3">
            <label for="date_of" class="col-sm-2 col-form-label col-form-label-lg">Date:</label>
            <div class="col-sm-10">
                <input type="date" id="date_of" name="date_of" class="form-control form-control-lg" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="game_id" class="col-sm-2 col-form-label col-form-label-lg">Game:</label>
            <div class="col-sm-10">
                <select id="game_id" name="game_id" class="form-control" required>
                    {{#each games}}
                    <option value="{{this.id}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
         <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-danger">Create Event</button>
        </div>
    </form>
</main>
<script src="/js/addEvent.js"></script>