<main>
    <section id="heroBanner" class="mobile">
        <img src="/images/bwGame.jpg" class="img-fluid" alt="Colorful Keyboard-like-keys">
    </section>

    <div class="text-center">
        <div class="border-bottom border-2 my-3">
            <h1>Discover the games and gamers near you!</h1>
            <p class="fs-4">Sign up, post games & events, and chat with eachother!</p>
            <p>Skip to: <a href="#games" class="text-danger text-decoration-none">Games</a>,
                <a href="#events" class="text-danger text-decoration-none">Events</a>,
                <a href="#profiles" class="text-danger text-decoration-none">Gamers</a>
            </p>
        </div>

        <section class="border-bottom border-2">
            <h2 class="text-danger" id="games">Featured Games</h2>
            <p>Search by genre:
                {{#each genres}}
                <a href="/games/genre/{{this}}" class="text-danger text-decoration-none">{{this}}, </a>
                {{/each}}
            </p>
            <div class="row">
                {{#each games as |game|}}
                <div class="col-md-4 mb-4">
                    {{> games/gameCard this}}
                </div>
                {{/each}}
            </div>
        </section>

        <section class="events-section mt-5 border-bottom border-2">
            <h2 class="text-danger" id="events">Upcoming Events</h2>
            <div class="d-flex justify-content-center">
                <form class="input-group input-group-sm mb-3" role="search" style="max-width: fit-content;">
                    <input id="eventSearchInput" class="form-control" type="search" placeholder="Event Title"
                        aria-label="Search">
                    <button id="eventSearchButton" class="btn btn-outline-danger" type="submit">Search</button>
                </form>
            </div>


            <div class="row" id="eventCardsContainer">
                {{#each events}}
                <div class="col-md-6 mb-4">
                    {{> events/eventCard this}}
                </div>
                {{/each}}
            </div>
        </section>

        <section class="profiles-section mt-5">
            <h2 class="text-danger" id="profiles">Gamer Profiles</h2>
            <div class="row">
                {{#each users as |user|}}
                <div class="col-md-6 mb-4">
                    {{> users/userProfileCard this}}
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</main>
<script src="/js/eventSearch.js"></script>