<main class="container mobile">
    <h2 class="text-center mb-5">Edit Profile</h2>
    <form id="edit-profile-form">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label col-form-label-lg">Name:</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control" value="{{user.name}}" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email:</label>
            <div class="col-sm-10">
                <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="location" class="col-sm-2 col-form-label col-form-label-lg">Location:</label>
            <div class="col-sm-10">
                <input type="text" id="location" name="location" class="form-control" value="{{user.location}}">
            </div>
        </div>
        <!-- Add other fields as necessary - Delete for interested_games Needed -->
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-danger">Save Changes</button>
        </div>
    </form>
</main>
<script src="/js/editProfile.js"></script>