<main class="container mobile">
    <h2 class="text-center mb-5">Sign Up</h2>
    <div id="errorBox" class="alert alert-danger" role="alert" style="display: none;">
      <!-- Error message will be inserted here if triggered -->
    </div>
    <form id="signup">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label col-form-label-lg">Name:</label>
            <div class="col-sm-10">
                <input type="text" id="name" placeholder="Your Name" class="form-control form-control-lg" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label col-form-label-lg">Username:</label>
            <div class="col-sm-10">
                <input type="text" id="username" placeholder="User Handle" class="form-control form-control-lg"
                    required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email:</label>
            <div class="col-sm-10">
                <input type="email" id="email" placeholder="email@example.com" class="form-control form-control-lg"
                    required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password:</label>
            <div class="col-sm-10">
                <input type="password" id="password" placeholder="At least 8 characters"
                    class="form-control form-control-lg" required>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-danger">Sign Up</button>
        </div>
        <div class="d-flex justify-content-center">
            <span class="me-2">Already have an account?</span>
            <a class="btn btn-outline-dark btn-sm" href="./login">Login</a>
        </div>
    </form>
</main>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="alertMessage"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>