body {
    /* Fallback for browsers that do not support gradients */
    background-color: #adadad;
    /* Gradient */
    background-image: linear-gradient(to bottom, #dbdbdb, #525252);
}

#heroBanner {
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 990px) {
    .mobile {
        padding-top: 12vh !important; 
    }
}